@font-face {
    font-family: 'Schabo';
    src: url("../../assets/font/SCHABO-Condensed.woff") format("woff");
}

.header {
    font-family: "Schabo";
    font-size: 6rem;
    margin-left: 10px;
    color: white;
    display: inline-block;
    text-decoration: underline;
    letter-spacing: 0.15rem;
}

.containerTop{
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    transition: all 0.5s ease;
}