.mainCard{
    font-size: 2rem;
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #efefef;
}   

.headerCard{
    display: flex;
    align-items: center;
}

.input{
    width: 90%;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #efefef;
    padding: 10px;
    margin-bottom: 1rem;
}

.button{
    width: 90%;
    font-size: 1.5rem;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    
}

.button:hover{
    background-color: #b3b3b3;
}

.icon{
    margin-left: 5px;
}

.card{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    text-align: center;
}

.gifColumne{
    min-height: 300px;
}